#dropdown-menu:hover {
  display: block;
}
#menu:hover + #dropdown-menu {
  display: block;
}
.drop {
  margin: 5px;
}
#dropdown-menu {
  position: fixed;
  z-index: 2;
  top: 55px;
  left: 20px;
  background-color: white;
  color: black;
  border-radius: 5px;
  border: 1px solid black;
  margin: 0;
  padding: 0;
  display: none;
}
/* width */
*::-webkit-scrollbar {
  width: 5px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: white;
  border-radius: 10px;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: black;
}
#title-summary {
  margin-top: 20px;
}
img {
  width: 80%;
}
main {
  text-align: center;
}
.content {
  margin-inline: 70px;
}
.drop {
  margin-left: 10px;
  cursor: pointer;
  font: bolder !important;
  text-decoration: underline;
}
.title:hover {
  cursor: pointer;
}
.title {
  text-decoration: underline;
  background-color: rgba(255, 123, 0);
}
.btn {
  border: 0px;
}
.btn-dark {
  background-color: black !important;
}
.bg-dark {
  background-color: black !important;
}
.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navbar-collapse {
  margin-top: 20px;
}
.nav-item {
  margin-inline: 12px;
  cursor: pointer;
}
.check {
  text-decoration: underline;
}
#menu {
  position: fixed;
  z-index: 2;
  top: 20px;
  left: 20px;
}
#back-to-top {
  position: fixed;
  z-index: 2;
  bottom: 20px;
  right: 20px;
}
#avatar {
  width: 100px;
}
#facebook:hover {
  bottom: 72px;
}
#facebook {
  position: fixed;
  z-index: 2;
  bottom: 70px;
  left: 20px;
}
#github:hover {
  bottom: 22px;
}
#github {
  position: fixed;
  z-index: 2;
  bottom: 20px;
  left: 20px;
}
.switch {
  position: fixed;
  z-index: 2;
  top: 30px;
  right: 5px;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  transition: 0.1s;
  transform: rotate(90deg);
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.1s;
}

input:checked + .slider {
  background-color: white;
}

input:checked + .slider:before {
  transform: translateX(26px);
  background: black;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.dark-mode {
  background-color: black;
  color: white;
}
.light-mode {
  background-color: white;
  color: black;
}
*::selection {
  background-color: rgba(255, 255, 0, 0.535);
}
